body {
  background-image: url("/public/assets/");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Comfortaa', cursive;
  
}
h1{
  padding-top: 20px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: #3d3030;
  font-weight: bold;
}
h2{
    color: #AB4C2C;
}
h3{
  color: #4C543C;
  font-size: 20px;
}
h4{
  color: #4C543C;
}
p{
  text-align: left;
}
.navbar {
  background-color: #f0f0f0 !important;
  font-weight: bold;
}
.navbar-brand img {
  width: 100px;
}
.nav-link {
  color: #4C543C !important;
}
.nav-link:hover {
  color: #929292 !important;
}
.margin {
  padding-top: 50px;
  padding-bottom: 50px;
}
video{
  z-index: 1;
  width: 100%;
  height: auto;
  max-height: 500px;
}



/* quem somos */
#sobre{
  background-image: url(/public/assets/pics/Produtos\ Ilustrativas/25052018-IMG_9627.jpg);
    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#sobre p{
  color: white;
  padding: 10%;
}
.qs{
  background-color: #1f1f1f80;
  border-radius: 8px;
}
#sobre2{
  background-image: url(/public/assets/pics/Pessoas/24052018-IMG_9179-2.jpg);
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}
#sobre2 .col-lg-4{
  padding: 0px;
}
#sobre2 p{
  background-color: #1f1f1fCC;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: auto;
  color: #DCD4C4;
  
}


/* sidepanel navigation */
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4C543C;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #DCD4C4;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #AB4C2C;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
.openbtn {
  background-color: #f0f0f0;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
}
.openbtn:hover {
  background-color:#DCD4C4;
  border-radius: 8px;
}




/* cardapio section index */
#cardapio p{
  color: #4C543C;
}
.cardapio {
  background-color: #dee4d2 !important;
}
.cardapio .row {
  margin-top: 50px;
}
.col-lg-4 img {
  border-radius: 8px;
}
.row img {
  border-radius: 8px;
}
.row h3 {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}
iframe{
  border-radius: 8px;
}



/* menu section */
#cardapio2{
  background-image: url(/public/assets/pics/Arte\ com\ comida/24052018-IMG_9208.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#cardapio2 h3{
  background-color: #1f1f1f80;
  border-radius: 8px;
  padding:20px;
  color: white;
  text-align: left;
}




/* download button */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  
  background-color: RoyalBlue;
}
.btn a{
  text-decoration: none;
  color: white;
}






/* hover for menu categories */
.over {
  position: relative;
}
.over .img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #AB4C2C;
}
.over:hover .overlay {
  opacity: 80%;
}
.over-text {
  
  color: #fafafa;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.w-socials h3{
  font-size: 15px;
}
#map{
  border-radius: 8px;
}




/* footer menu and footer info */

.bg-footer {
  position: bottom;
  
}
.w-contacts-item{
  text-align: left;
 }
.w-socials{
 
  text-align: left;
  font-weight: normal;
  color: #4C543C;
}
.w-socials a{
  cursor: pointer;
  color:inherit;
  text-decoration:none;
}
.w-socials a h3{
  text-align: left;
}
.footer-menu{
  text-align: left;
}
.footer-menu ul li a{
  cursor: pointer;
  font-weight: normal;
  color: #4C543C;
}
.footer-menu ul  {
  list-style: none; 
}
.footer-menu ul li:before {
 color: #AB4C2C;
  content: "↳‎‎‎ ";
 
}
.socialm{
  display: inline-block;
}